<!DOCTYPE html>
<html>
<head>
  <title>Game Trader</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<body>
  {{#each games}}
  <div class="modal fade" id="{{id}}Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog"  role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">{{name}}</h4>
        </div>
        <div class="modal-body">
          <!-- Modal content here -->
          <div class="row">
            <div class="col-md-2">
              Rating:
            </div>
            <div class="col-md-10">
              {{total_rating}}/100 <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Developer(s):
            </div>
            <div class="col-md-10">
              {{#each developers}}
              {{name}}<br>
              {{/each}}
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Publisher(s):
            </div>
            <div class="col-md-10">
              {{#each publishers}}
              {{name}}<br>
              {{/each}}
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              Summary:
            </div>
            <div class="col-md-10">
          <p>{{summary}}</p>
        </div>
        </div>

      </div>
        <div class="modal-footer">
          Request Trade:
          {{#each platformsAvail}}
<a href="/requestTrade/{{@key}}/{{../id}}" type="button" class="btn btn-success">{{this}}</a>
        {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>Game Trader</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findgames">Add Trades</a></li>
        <li><a href="/traderequests">Trade Requests
          {{#if tradeReqs}}
          <span id="tradeReqs" class="badge">{{tradeReqs}}</span>
          {{/if}}</a></li>
          <li>Account</li>
          {{#if loggedIn}}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>All Games Available for Trade</h1>
          <h5 class="text-muted">Click on game for more info</h5>
          {{#if ownReq}}
          <div class="alert alert-dismissible alert-danger">
  <button class="close" type="button" data-dismiss="alert">&times;</button>
  {{ownReq}}
</div>
          {{/if}}
        </div>
      </div>
      {{#each games}}
      <div class="col-md-3">
        <div class="row" id="{{id}}">
        <div class="col-md-12" style='box-shadow: 10px 10px 5px #88888888; margin-top: 15px;'>
          <div class="thumbnail">
            <a data-toggle="modal" data-target="#{{id}}Modal">
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{cover.cloudinary_id}}.jpg" alt="{{name}}" class="img-rounded  triggerModal" style="width:245px; height:315px;">
</a>
            <h4>{{name}}</h4>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="/js/bootstrap.min.js"></script>

    </body>
    </html>
