<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>Game Trader</li>
        <li><a href="/">Home</a></li>
        <li><a href="/findgames">Add Trades</a></li>
        <li><a href="/traderequests">Trade Requests
          {{#if tradeReqs}}
          <span id="tradeReqs" class="badge">{{tradeReqs}}</span>
          {{/if}}</a></li>
          <li>Account</li>
          {{#if loggedIn}}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Your Games Available for Trade</h1>
          <h5 class="text-muted">Click on game for more info</h5>
        </div>
      </div>
      <div id="allGames">
      {{#each games}}
      <div class="col-md-3">
        <div class="row">
        <div class="col-md-12" style='box-shadow: 10px 10px 5px #88888888; margin-top: 15px;'>
          <div class="thumbnail">
            <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{cover.cloudinary_id}}.jpg" alt="{{name}}" class="img-rounded" style="width:245px; height:315px;">
            <h4 class="text-right">{{name}} <span class="text-muted">({{owner.plat}})</span></h4>
            <button class="btn btn-danger btn-sm removeGame" id="{{id}}" platform="{{owner.plat}}">Remove</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  </div>
</div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
$(document).ready(() => {
	$(document).on('click', '.removeGame', function(e) {
		console.log($(this).attr('id'), $(this).attr('platform'));
		$.ajax({
			type: 'POST',
			url: `/remove/${$(this).attr('id')}/${$(this).attr('platform')}`,
			success: data => {
				$('#allGames').empty();
				data.forEach(game => {
					$('#allGames').append(`
            <div class="col-md-3">
              <div class="row" id="${game.id}">
              <div class="col-md-12" style='box-shadow: 10px 10px 5px #88888888; margin-top: 15px;'>
                <div class="thumbnail">
                  <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/${game
										.cover
										.cloudinary_id}.jpg" alt="${game.name}" class="img-rounded" style="width:245px; height:315px;">
                  <h4 class="text-right">${game.name} <span class="text-muted">(${game
						.owner.plat})</span></h4>
                  <button class="btn btn-danger btn-sm removeGame" id="${game.id}" platform="${game.owner.plat}">Remove</button>
                </div>
              </div>
            </div>
          </div>
          `);
				});
			}
		});
	});
});

  </script>

    </body>
    </html>
